.course-detail-page {
  min-height: calc(80vh - 120px); /* header + footer */
  padding: 32px 48px;
  background: #f6f7fb;
}

/* breadcrumb */
.course-detail-page > p {
  font-size: 15px;
  color: #000000;
  margin-bottom: 24px;
}

.assignment a,.material a{
  text-decoration: none;
  color: inherit;
}

.assignment,
.material {
  display: inline-flex;
  align-items: center;

  width: 420px;
  height: 180px;

  border-radius: 18px;
  cursor: pointer;

  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border: #16005D 0.2px solid;
}

.assignment {
  justify-content: flex-end;
  padding-right:42px;

  background:url("/assignment-banner.jpg");
  background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;

  color: #000;
  margin-right: 40px;
}


.material {
  justify-content: flex-start; 
  padding-left: 42px;

  background:url("/material.jpg");
  background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;
  color: #000000; 
}


.assignment:hover,
.material:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.18);
}

.assignment p,
.material p {
  margin: 0;
}
