* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-image: url("/Collegepic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 40px 80px;
  overflow:hidden;
}




/* 25 YEARS OF EXCELLENCE */
.exp p {
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 8px;
}

.clg p {
  font-size: 58px;
  font-weight: 700;
  color: #16005d;
  margin-bottom: 12px;
}




.nba img {
  padding: 5px;
  border-radius: 6px;  
  margin-top: 280px;
  margin-bottom: 5px;
  height: 60px;
}


/* Quote */
.quote p {
  font-weight: 500;
  font-size: 30px;
  line-height:1.5;
  color: #ffffff;
  max-width: 700px;
  margin-top: 40px;
  margin-bottom: 20px;
  
}


/* Login Card */
.Container {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);

  width: 440px;
  opacity: 75%;
  padding: 40px;
  border-radius: 22px;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}



/* Login Title */
.Container > p:first-child {
  font-size: 36px !important;
  font-weight: 700;
  margin-bottom: 45px;
  color: #16005d;
  text-align: center;
}

/* Sub text */
form p {
  font-size: 19px !important;
  color: #000000;
  margin-bottom: 0px;
}

/* Inputs */
form input {
  width: 100%;
  height: 35px;
  padding: 15px;
  margin-bottom: 22px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 15px;
}

/* Forgot password */
form a {
  display:block;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 2px;
}

/* Login button */
form button {
  background-color : #16005d;
  color:white;
  height: 40px;
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  
  display: block;
  margin: 10px auto 0 auto;
}

form button:hover{
    background-color: #16146e;
}

/* Footer notes */
.Container p:last-child,
.Container p:nth-last-child(2) {
  font-size: 13px;
  text-align: center;
  margin-top: 12px;
  color: #333;
}
