* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    background-color:#D9D9D9 ;
    width: 280px;
    height: 100vh;
    margin-top: 0;  
    opacity: 75%;
}

.container p:first-child {
    margin-top: 100px;
}


.words{
    width: 100%;                 
    padding: 16px 0;
    padding-left: 43px;          
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.words:hover{
    background-color: #C4C4C4;
}
