.sidebar {
  width: 270px;
  background-color: #D9D9D9;
  position: fixed;
  top: 85px;               /* header height */
  left: 0;            /* hidden */
  height: calc(100vh - 85px);
  transition: left 0.3s ease;
  left: -280px; 
  z-index: 500;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar.open {
  left: 0;
}

.sidebar-menu {
  list-style: none;
  padding-top: 40px;
  font-weight: 500;
}

.sidebar-menu li {
  padding: 16px 0 16px 43px;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background-color: #C4C4C4;
  font-weight: 700;
  font-size: 20px;
}
