* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.admin-container {
  background-color: #e5e5e5;
  margin: 5px;
  border-radius: 10px;
  height: 600px;
  display: flex;
}

.admin-left-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 70px;
  object-fit: cover;
  padding: 5px;
  background-color: white;
}

.admin-actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-btn {
  width: 220px;
  height: 45px;
  border-radius: 15px;
  background-color: #16005d;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.admin-btn:hover {
  background-color: #ffffff86;
  cursor: pointer;
  color: #16005d;
  border: 3px solid #16005d;
}

.admin-btn.logout {
  margin-bottom: 60px;
}

.admin-right-card {
  background-color: white;
  margin: 60px 20px;
  border-radius: 10px;
  width: 700px;
  border: 1px solid #16005d;
  padding: 10px;
}

.admin-row {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  padding: 15px;
}

.admin-label {
  font-weight: 600;
  font-size: 20px;
  color: #16005d;
  border-right: 2px solid #000;
  padding-left: 40px;
}

.admin-value {
  padding-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #16005d;
}
