.announcement-page {
  padding: 20px;
  min-height: calc(100vh - 80px);
}

.announcement-page h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* CREATE BOX */
.create-announcement {
  background: #f4f6ff;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.create-announcement input,
.create-announcement textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.create-announcement button {
  background: #16005d;
  color: white;
  display: inline-flex;          
  align-items: center;           
  justify-content: center;      
  gap: 8px;  
  border: none;
  padding: 8px 18px;
  border-radius: 999px;          /* pill shape */
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  transition: background-color 0.3s ease, transform 0.2s ease;

  margin-top: 16px;
}

.create-announcement button svg {
    font-size: 28px;
}

.create-announcement button:hover{
    background-color: #03115b;
    color: #ffffff;
    transform: scale(1.05);
}

/* ANNOUNCEMENT CARD */
.announcement-card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.announcement-card h3 {
  margin-bottom: 8px;
}

.announcement-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;  
}

.delete-btn {
  display: inline-flex;          
  align-items: center;           
  justify-content: center;      
  gap: 8px;                      

  background: #b00020;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 999px;          /* pill shape */
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  transition: background-color 0.3s ease, transform 0.2s ease;

  margin-top: 16px;
}

.delete-btn svg {
  font-size: 18px;               /* icon size control */
}

/* Hover */
.delete-btn:hover {
  background: #8e001a;
  transform: scale(1.05);
}

/* Click */
.delete-btn:active {
  transform: scale(0.95);
}
