.header {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100%;              
  height: 80px;             
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  background-color: #16005d;
  color: white;
  z-index: 1000;            
}


.header-left h2 {
  margin-left: 50px;
  font-size: 30px;
}

.header-left svg {
  font-size: 32px;
}

.header-left p {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: rgb(255, 255, 255);
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 250px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 6px 12px;
  border-radius: 20px;
  width: 370px;
  height: 38px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.search-box svg {
  color: #000000;
  font-size: 28px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-right svg{
  color: #f1f1f1 !important;
  font-size: 35px;
  margin-left: 10px;
}

.college-image img{
  height: 55px;
  width: 250px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 5px;
  /* margin-right: 140px; */
  
}


.icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 50px;
}
