.header {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100%;              
  height: 60px;             
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  background: linear-gradient(to right, #1e3a8a, #312e81);
  color: white;
  z-index: 1000;            
}


.header-left h2 {
  margin-left: 50px;
  font-size: 30px;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 250px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 6px 12px;
  border-radius: 18px;
  width: 280px;
  height: 26px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.college-image {
  margin-top: 12px;
  /* margin-right: 140px; */
  
}


.icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 50px;
}
