/* Single scroll container */
.layout-scroll {
  margin-top: 85px;                 /* header height */
  height: calc(100vh - 85px);       /* viewport - header */
  overflow-y: auto;  
  position: relative;               /* ENABLE SCROLL */
}

/* Padding only for page content */
.page-content {
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 85px;                 /* same as header height */
  left: 0;
  width: 100vw;
  height: calc(100vh - 85px);
  background: rgba(0, 0, 0,0.5);  /* dim effect */
  z-index: 400;              /* below sidebar, above content */
}