.result-cointainer {
    min-height: 100vh;
  display: flex;
  align-items: center;    /* vertical center */
  justify-content: center; /* horizontal center */
}

.result-card {
  position: absolute;
  width: 440px;
  height: 370px;
  opacity: 70%;
  padding: 40px;
  border-radius: 22px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.result-card > p:first-child {
  font-size: 32px !important;
  font-weight: 700;
  margin-bottom: 45px;
  color: #000000;
  text-align: center;
}

form p {
  font-weight: 500;
  font-size: 16px !important;
  color: #000000;
  margin-bottom: 15px;
}

form input {
  width: 100%;
  height: 35px;
  padding: 15px;
  margin-bottom: 22px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 15px;
}

/* Login button */
form button {
  background-color : #16005d ;
  color:white;
  height: 40px;
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  
  display: block;
  margin: 10px auto 0 auto;
}

form button:hover{
    background-color: #ffffff;
    color: #16005d;
}