* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.div-schedule {
  min-height: calc(80vh - 120px);
  padding: 32px 48px;
  background: #f6f7fb;

  display: flex;
  gap: 40px;
  margin-bottom: 150px;
}

.row-nav-page {
  width: 420px;
  height: 200px;

  border-radius: 18px;
  cursor: pointer;

  background: url("/commen.jpg") center/cover no-repeat;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  transform: translateY(0) scale(1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  position: relative;

  font-size: 27px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.row-nav-page a {
  text-decoration: none;
  color: inherit;

}

.row-nav-page:hover {
  transform: translateY(-2px) scale(1.05);
}

.row-nav-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

.row-nav-page * {
  position: relative;
  z-index: 51;
}
