* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eae6e6;
  overflow: hidden;
  padding: 10px 5px 10px; 
  min-height: 100vh;
}

.course-card{
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.card-image{
  width: 100%;
  height: 200px;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* bottom white content box */
.card-content{
  border-top: 2px solid #000;
  padding: 14px 16px;
}

.card-content h3{
  font-size: 18px;
  font-weight: 700;
  color: #0b1d4d;
}

.dept{
  margin-top: 6px;
  font-size: 15px;
  font-weight: 700;
  color: #0b1d4d;
}
