* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eae6e6;
  overflow: hidden;
  padding: 10px 5px 10px; 
  min-height: 100vh;
}


.page {
  padding: 30px 20px;
  min-height: 100vh;
}

.div {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  width: 1400px;       
  margin: 0 auto 20px;    
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.sub {
  font-weight: 600;
  font-size: 30px;
  color: #16005D;
  word-wrap: break-word;  
}

.dept {
  font-weight: 600;
  font-size: 23px;
  color: #16005D;
  margin-left: 1px;
}
