* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cart{
    background-color: #E5E5E5;
    border-radius: 10px;
    width: 1480px;
    height: 600px;
}
