* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}.assign-page{
  padding:40px;
  background:#fff;
}

.path{
  font-size:22px;
  color:#16005D;
  margin-bottom:20px;
}

.add-btn{
  background:#16005D;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  font-size:16px;
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
  margin-bottom:20px;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#D1D1D1;
  padding:12px;
  text-align:left;
}

td{
  background:#E0E0E0;
  padding:12px;
}



.closed{
  background:#BDBDBD;
  padding:6px 14px;
  border-radius:20px;
  font-weight:600;
}

.empty{
  text-align:center;
  color:#555;
}

.form-box{
  display:flex;
  gap:15px;
  margin-bottom:20px;
}

.form-box input, .form-box button{
  padding:8px;
}

.dots{
  cursor:pointer;
}
