* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6fb;
}

.assignment-container {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.assignment-wrapper {
  width: 100%;
  max-width: 1000px;
}

.ass-head {
  display: flex;
  align-items: center;        
  justify-content: space-between; 
  padding: 10px 0;
}

.url {
  font-size: 16px;
  font-weight: 500;
  color: #16005D;
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  background-color: #16005D;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.add-btn:hover {
  background: #ffffff;
  color: #16005D;
  border: 2px solid #16005D;
}

.save-btn {
  background: #16005D;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;
  margin-left: 80px; 
}

.form-card :placeholder-shown{
  align-items: center;
}

.save-btn:hover {
  background: #D9D9D9;
  color: #16005D;
  border:2px solid #16005D  ;
}

.form-card {
  background: white;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 1000px;
  padding: 20px;
  margin-top: 20px;
}

.form-card input[type="text"] {
  width: 200px;
}

.form-card input[type="date"] {
  width: 180px;
  margin-left: 20px;
}

.form-card input[type="file"] {
  width: 280px;
  margin-left: 20px;
}


.form-card input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.empty {
  text-align: center;
  margin-top: 80px;
  color: gray;
  font-size: 16px;
}

.tables {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: visible;
  border-collapse: collapse;
}

.tables th,
.tables td {
  padding: 14px;
  text-align: left;
  overflow: visible;
  color: #16005D;}

.tables thead {
  background: #e5e7eb;
}

.tables tr:nth-child(even) {
  background: #f9fafb;
}

.Open {
  color: green;
  font-weight: 600;
}

.closed {
  color: red;
  font-weight: 600;
}

.menu {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 10;
}

.dropdown p {
  padding: 8px 14px;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f1f5f9;
}

.disabled {
  opacity: 0.5;
}
