* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eae6e6;
  overflow: hidden;
  padding: 10px 5px 10px; 
  min-height: 100vh;
}


.page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 20px;
}

.course-card {
  background: #f2f1f7;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-image img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-header h3 {
  font-size: 22px;
  color: #16005D;
}

.dept {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}