* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.name-cart{
    background-color: #16005D;
    border-radius: 10px;
    width: 1200px;
    height: 200px;
    margin-left: 300px;
}

.greeting{
    color: white;
    padding: 7px;
    font-size:48px;
    font-weight: 600;
    margin-left: 40px;
}

.role{
    color: white;
    padding: 7px;
    font-size:32px;
    font-weight: 500;
    margin-left: 40px;
}

.dept{
    color: white;
    padding: 7px;
    font-size:20px;
    font-weight: 400;
    margin-left: 40px;
}

.calendar{
    background-color: #D9D9D9;
    width: 450px;
    margin-left: 320px;
    border-radius: 10px;
}

.imagec{
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.schedule{
    background-color: #D9D9D9;
}