* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


html, body {
  width: 1570px;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f6fa;
}

.staff-mark-container {
  width: 100vw;
  min-height: 100vh;
  padding: 20px 30px;
}

/* TOP BAR */
.top-bar {
  width: 100%;
  background: linear-gradient(90deg, #1d0b5f, #2c0f91);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 25px;
  border-radius: 12px;
  color: white;
}

.field {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.field label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.field select {
  height: 36px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

/* ACTION BAR */
.action-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.upload-btn {
  background-color: #1d0b5f;
  color: white;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.upload-btn:hover {
  background-color: #2c0f91;
}

.download-btn {
  background-color: #1d0b5f;
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.download-btn:hover {
  background-color: #2c0f91;
}

/* TABLE SECTION */
.table-container {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  overflow-x: auto;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eef0f5;
}

th {
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #c9c9c9;
}

td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c9c9c9;
}

/* EMPTY MESSAGE */
tbody tr td[colspan] {
  padding: 30px;
  font-size: 15px;
  color: #666;
}
