* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.name-cart{
    background-color: #16005D;
    border-radius: 10px;
    width: 1480px;
    height: 180px;
    margin-left: 20px;
    padding: 10px;
    margin-top: 100px;
}

.greeting{
    color: white;
    padding: 4px;
    font-size:48px;
    font-weight: 600;
    margin-left: 40px;
}

.role{
    color: white;
    padding: 3px;
    font-size:32px;
    font-weight: 500;
    margin-left: 40px;
}

.dept{
    color: white;
    font-size:20px;
    font-weight: 400;
    margin-left: 40px;
}

.calendar-card{
    background-color: #D9D9D9;
    width:730px;
    margin-left: 20px;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    height: 400px;
}

.calendar-content img{
    width: 565px;
    height: 320px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;

}

.content{
    display: flex;
    flex-direction: row;
}


.prev{
    height: 50px;
    background-color:#16005D;
    margin-left: 10px;
    margin-top: 180px;
}

.next{
    height: 50px;
    background-color:#16005D;
    margin-right: 10px;
    margin-top: 180px;  
}


.month{
    font-size: 45px;
    font-weight: 600;
    color:#16005D ;
    text-align: center;
}


.schedule-card{
    background-color: #D9D9D9;
    width: 730px;
    margin-left: 20px;
    border-radius: 10px;
    height: 400px;
}

.head{
    font-size: 45px;
    font-weight: 600;
    color:#16005D ;
    margin-left: 180px;
}

.today-class{
    color: black;
    font-size: 26px;
    font-weight: 700;
    margin-left: 210px;
    margin-top: 30px;
}

.event{
    color: #16005D;
    font-size: 27px;
    font-weight: 700;
    margin-left: 250px;
    margin-top: 20px;
}

.timing{
    color: rgb(42, 2, 98);
    font-size: 25px;
    font-weight: 700;
    margin-left: 170px;
}

.inner-cart{
    width: 580px;
    background-color: #CBCCCC;
    height: 240px;
    margin-left: 80px;
    border-radius: 20px;
    border: 2px solid #1a0b6e; 
    margin-top:40px;
}