.st-top-bar {
  max-width: 1499px;
  background-color: #16005D;
  padding: 25px 25px;
  border-radius: 12px;
  color: white;
  margin-right: 20px;
  display: flex;
  gap: 22px;                
  align-items: center;       
  flex-wrap: flex;
}

.st-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.st-academic label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
  margin-left: 44px;
}

.st-academic select {
  height: 36px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  margin-left: 24px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
  padding-left: 22px;
}


.st-sem label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
  margin-left: 64px;
}

.st-sem select {
  height: 36px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  margin-left: 24px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
  padding-left: 29px;

}


.st-dept label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
  margin-left: 54px;
}

.st-dept select {
  height: 36px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  margin-left: 24px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
  padding-left: 52px;
}


.st-sec label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
  margin-left: 68px;
}

.st-sec select {
  height: 36px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  margin-left: 24px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
  padding-left: 29px;
}

.student-table-container {
  margin-top: 20px;            
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 1480px;
}


.student-table-head th {
  position: sticky;          
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}

.student-table th{
    background-color: #16005D;
}

.student-table th,
.student-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.student-table tbody tr:hover {
  background-color: #f9f9f9;
}


.student-not-found {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  width: 1480px;

  background: #ffffff;
  border-radius: 16px;

  font-size: 16px;
  color: #000000;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.st-action-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1480px;
}

.st-buttons {
  display: flex;
  gap: 10px;
}

.st-download-btn,
.st-print-btn {
  background-color: #16005D;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #16005D;
  cursor: pointer;
  font-weight: 500;
}

.st-download-btn:hover,
.st-print-btn:hover {
  background-color: white;
  color: #16005D;
}

.student-search-box {
  display: flex;
}

.student-search-box input {
  width: 200px;
  padding: 10px 14px;
  font-size: 14px;
  border: 2px solid #16005D;
  border-radius: 10px;
  outline: none;
}

.student-search-box input::placeholder {
  color: #6b7280;
}
